<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ryhma4.taskimatti">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/material_theme_1">

        <activity
            android:name=".activity.LoginActivity"
            android:windowSoftInputMode="stateHidden"
            android:label="@string/app_name"
            android:theme="@style/material_theme_1">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"/>
        <activity
            android:name=".activity.CreateRoutineActivity"
            android:parentActivityName=".activity.MainActivity" />
        <activity
            android:name=".activity.ContentActivity"
            android:parentActivityName=".activity.MainActivity" />
        <activity
            android:name=".activity.ScheduleTasksActivity"
            android:parentActivityName=".activity.MainActivity" />
        <activity
            android:name=".activity.SettingsActivity"
            android:parentActivityName=".activity.MainActivity" />
        <activity
            android:name=".activity.ShowRoutinesActivity"
            android:parentActivityName=".activity.MainActivity" />
        <activity
            android:name=".activity.SetTaskActivity" />

        <receiver android:name=".notification.AlarmReceiver" />
        <service android:name=".notification.NotificationService"
            android:enabled="true">
        </service>
    </application>

</manifest>